@page      "/roles"
@using     System.Security.Claims
@using     Microsoft.AspNetCore.Authorization
@using     System.ComponentModel.DataAnnotations
@attribute [Authorize(Roles = "Admin")]
@inject    HttpClient HttpClient
@inject    NavigationManager Navigation

<h3>Roles</h3>
@if (_user != null)
{
    <ul>
        @foreach (var role in _user.Claims.Where(c => c.Type == "role"))
        {
            <li>@role.Value</li>
        }
    </ul>
    <p>Authenticated: @_user.Identity.IsAuthenticated</p>
    <p>Admin: @_user.IsInRole("Admin")</p>

    <EditForm Model="_newRole" OnValidSubmit="AddRole">
        <p class="input-group">
            <label>
                New role
                <InputText @bind-Value="_newRole.NewRole" />
            </label>
            <ValidationMessage For="() => _newRole.NewRole" />
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Add new role" />
        </p>
    </EditForm> 
    
    if (_successMessage != null)
    {
        <p 
           class="alert alert-success"
           >@_successMessage
            <button 
                type="button" 
                class="close" 
                @onclick="Dismiss"
                ><span 
                    aria-hidden="true"
                    >&times;</span>
            </button></p> 
    }
}
else
{
    <p>User not available</p>
}

@code
{ 
    ClaimsPrincipal _user;
    NewRoleForm     _newRole = new NewRoleForm();
    string          _successMessage;

    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _user = (await AuthenticationState).User;
        await base.OnInitializedAsync();
    }

    public async Task AddRole()
    {
        _newRole.UserName = _user.Identity.Name;
        var response = await HttpClient.PostAsJsonAsync($"{Navigation.BaseUri}User/AddRole", _newRole);
        response.EnsureSuccessStatusCode();
        _successMessage = $"Role '{_newRole.NewRole}' successfully added. Logout and login to see the role reflected";
        _newRole = new NewRoleForm();
    }

    public void Dismiss() => _successMessage = null;

    private class NewRoleForm
    {
        [Required]
        public string NewRole { get; set; }

        [Required]
        public string UserName { get; set; }
    }
}
